<div class="card">
   <div class="card-header">
      <h4 id="basic-forms" class="card-title">Station search</h4>
     
   </div>
   <div class="card-content collapse show" aria-expanded="true">
      <div class="card-body">
       <div><h6>Filters</h6></div>
         <div class="d-flex flex-row">
           <div class="p-2">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                  <a class="nav-link active" id="Quicksearch-tab" data-toggle="tab"
                      href="#QuickSearch" role="tab" aria-controls="QuickSearch"
                      aria-selected="true">Quick
                      Search</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="Gographic-tab" data-toggle="tab"
                      href="#Gographicmetadata" role="tab" aria-controls="Gographic"
                      aria-selected="false">Gographic
                      metadata</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="sitemap-tab" data-toggle="tab" href="#Sitemetadata"
                      role="tab" aria-controls="sitemap" aria-selected="false">Site
                      metadata</a>
              </li>
          </ul>
          <div class="tab-content">
            <div id="QuickSearch" class="tab-pane fade show active">
                <div>
                    @* <form action="#"> *@
                        <div class="row">
                            <div class="col-sm-12">

                                <label for="">Network</label>
                                <div class="dropdown">
                                    <select
                                        class="form-control spaziatura_fissa ng-pristine ng-valid ng-touched"
                                        id="net_code" name="internal_net_code">
                                        <option value="" class="ng-star-inserted"> --
                                            Any values --
                                        </option>
                                        <option value="1E_2018" class="ng-star-inserted">1E
                                            -
                                            GSC-BCOGC Induced Seismicity Study (1E_2018)
                                        </option>
                                        <option value="1J_2021" class="ng-star-inserted">1J
                                            - FocusX
                                            temporary land-network (FXland) (1J_2021)
                                        </option>
                                        @* <option value="3A_2016" class="ng-star-inserted">3A *@
                                            - Centro
                                            di microzonazione
                                    </select>
                                </div>
                            </div>
                        </div>
                </div>
                <br>
                <div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="" for="form-label-group">Station
                                code</label><br>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-sm-6">
                            <label for="">Station name</label><br>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-sm-6">
                            <label for="">Installation date</label><br>
                            <input autocomplete="off" type="date" name="date" id="date1"
                                placeholder="From" class="form-control">
                        </div>
                        <div class="col-sm-6">
                            <label for=""><br></label><br>
                            <input autocomplete="off" type="date" name="date" id="date2"
                                placeholder="To" class="form-control">
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-sm-6">
                            <label for="">Removal date</label><br>
                            <input class="form-control" autocomplete="off" type="date"
                                name="date" id="date3" placeholder="From">
                        </div>
                        <div class="col-sm-6">
                            <label for=""><br></label><br>
                            <input class="form-control" autocomplete="off" type="date"
                                name="date" id="date4" placeholder="To">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Number of records</label><br>
                            <input class="form-control ng-valid ng-dirty ng-touched"
                                type="number" name="totalrecord" step="1">
                        </div>

                        <div class="col-sm-6">
                            <br>
                            <input type="checkbox">
                            <label style="font-size:15px ;">Geological maps</label><br>
                        </div>
                    </div>

                    <hr>
                    <div class="row">

                        <input type="submit" value="Search" class="btn btn-primary"
                            style="padding-left:30px;margin-left:13px ;">
                        <input type="submit" value=" New Search" class="btn btn-success"
                            style="margin-left:5px; ">

                    </div>
                    @* </form> *@

                </div>
            </div>
            <div id="Gographicmetadata" class="tab-pane fade">
                <form action="">
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="" for="form-label-group">Latitude (e.g.
                                45.27)</label><br>
                            <input type="number" class="form-control" placeholder="From">
                        </div>
                        <div class="col-sm-6">
                            <label for=""></label><br>
                            <input type="number" class="form-control" placeholder="To">
                        </div>
                    </div>

                    <br>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="" for="form-label-group">Longitude (e.g.
                                12.7)</label><br>
                            <input type="number" class="form-control" placeholder="From">
                        </div>
                        <div class="col-sm-6">
                            <label for=""></label><br>
                            <input type="number" class="form-control" placeholder="To">
                        </div>
                    </div>

                    <br>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Country</label><br>
                            <select class="form-control ng-pristine ng-valid ng-touched"
                                id="nation_code" name="nation_code">
                                <option value="" class="ng-star-inserted"> -- Any values
                                    --
                                </option>
                                <option value="NUL" class="ng-star-inserted"></option>
                                <option value="AL" class="ng-star-inserted">Albania
                                </option>
                                <option value="DZ" class="ng-star-inserted">Algeria
                                </option>
                                <option value="AS" class="ng-star-inserted">American
                                    Samoa</option>
                                <option value="AQ" class="ng-star-inserted">Antarctica
                                </option>
                                <option value="AG" class="ng-star-inserted">Antigua and
                                    Barbuda
                                </option>
                                <option value="AR" class="ng-star-inserted">Argentina
                                </option>
                                <option value="AM" class="ng-star-inserted">Armenia
                                </option>
                                <option value="AU" class="ng-star-inserted">Australia
                                </option>
                                <option value="AT" class="ng-star-inserted">Austria
                                </option>
                                <option value="AZ" class="ng-star-inserted">Azerbaijan
                                </option>
                                <option value="BD" class="ng-star-inserted">Bangladesh
                                </option>
                                <option value="BB" class="ng-star-inserted">Barbados
                                </option>
                                <option value="BM" class="ng-star-inserted">Bermuda
                                </option>
                                <option value="BT" class="ng-star-inserted">Bhutan
                                </option>
                                <option value="BO" class="ng-star-inserted">Bolivia
                                </option>
                                <option value="BA" class="ng-star-inserted">Bosnia and
                                    Herzegovina
                                </option>
                                <option value="BR" class="ng-star-inserted">Brazil
                                </option>
                                <option value="VG" class="ng-star-inserted">British
                                    Virgin Islands
                                </option>
                                <option value="BG" class="ng-star-inserted">Bulgaria
                                </option>
                                <option value="CA" class="ng-star-inserted">Canada
                                </option>
                                <option value="BQ" class="ng-star-inserted">Caribbean
                                    Netherlands
                                </option>
                                <option value="KY" class="ng-star-inserted">Cayman
                                    Islands</option>
                                <option value="CL" class="ng-star-inserted">Chile
                                </option>
                                <option value="CN" class="ng-star-inserted">China
                                </option>
                                <option value="CO" class="ng-star-inserted">Colombia
                                </option>
                                <option value="CR" class="ng-star-inserted">Costa Rica
                                </option>
                                <option value="HR" class="ng-star-inserted">Croatia
                                </option>
                                <option value="CU" class="ng-star-inserted">Cuba
                                </option>
                                <option value="CY" class="ng-star-inserted">Cyprus
                                </option>
                                <option value="CZ" class="ng-star-inserted">Czech
                                    Republic</option>
                                <option value="DJ" class="ng-star-inserted">Djibouti
                                </option>
                                <option value="DM" class="ng-star-inserted">Dominica
                                </option>
                                <option value="DO" class="ng-star-inserted">Dominican
                                    Republic
                                </option>
                                <option value="EC" class="ng-star-inserted">Ecuador
                                </option>
                                <option value="EG" class="ng-star-inserted">Egypt
                                </option>
                                <option value="SV" class="ng-star-inserted">El Salvador
                                </option>
                                <option value="ER" class="ng-star-inserted">Eritrea
                                </option>
                                <option value="ET" class="ng-star-inserted">Ethiopia
                                </option>
                                <option value="FR" class="ng-star-inserted">France
                                </option>
                                <option value="GE" class="ng-star-inserted">Georgia
                                </option>
                                <option value="DE" class="ng-star-inserted">Germany
                                </option>
                                <option value="GR" class="ng-star-inserted">Greece
                                </option>
                                <option value="GD" class="ng-star-inserted">Grenada
                                </option>
                                <option value="GP" class="ng-star-inserted">Guadeloupe
                                </option>
                                <option value="GU" class="ng-star-inserted">Guam
                                </option>
                                <option value="GT" class="ng-star-inserted">Guatemala
                                </option>
                                <option value="HT" class="ng-star-inserted">Haiti
                                </option>
                                <option value="HN" class="ng-star-inserted">Honduras
                                </option>
                                <option value="HK" class="ng-star-inserted">Hong Kong
                                </option>
                                <option value="HU" class="ng-star-inserted">Hungary
                                </option>
                                <option value="IS" class="ng-star-inserted">Iceland
                                </option>
                                <option value="IN" class="ng-star-inserted">India
                                </option>
                                <option value="ID" class="ng-star-inserted">Indonesia
                                </option>
                                <option value="IR" class="ng-star-inserted">Iran
                                </option>
                                <option value="IQ" class="ng-star-inserted">Iraq
                                </option>
                                <option value="IL" class="ng-star-inserted">Israel
                                </option>
                                <option value="IT" class="ng-star-inserted">Italy
                                </option>
                                <option value="JM" class="ng-star-inserted">Jamaica
                                </option>
                                <option value="JP" class="ng-star-inserted">Japan
                                </option>
                                <option value="JO" class="ng-star-inserted">Jordan
                                </option>
                                <option value="KZ" class="ng-star-inserted">Kazakhstan
                                </option>
                                <option value="KE" class="ng-star-inserted">Kenya
                                </option>
                                <option value="XK" class="ng-star-inserted">Kosovo
                                </option>
                                <option value="KG" class="ng-star-inserted">Kyrgyzstan
                                </option>
                                <option value="LA" class="ng-star-inserted">Laos
                                </option>
                                <option value="LB" class="ng-star-inserted">Lebanon
                                </option>
                                <option value="LI" class="ng-star-inserted">
                                    Liechtenstein</option>
                                <option value="MK" class="ng-star-inserted">Macedonia
                                    (FYROM)
                                </option>
                                <option value="MT" class="ng-star-inserted">Malta
                                </option>
                                <option value="MQ" class="ng-star-inserted">Martinique
                                </option>
                                <option value="YT" class="ng-star-inserted">Mayotte
                                </option>
                                <option value="MX" class="ng-star-inserted">Mexico
                                </option>
                                <option value="MD" class="ng-star-inserted">Moldova
                                </option>
                                <option value="MC" class="ng-star-inserted">Monaco
                                </option>
                                <option value="MN" class="ng-star-inserted">Mongolia
                                </option>
                                <option value="ME" class="ng-star-inserted">Montenegro
                                </option>
                                <option value="MS" class="ng-star-inserted">Montserrat
                                </option>
                                <option value="MA" class="ng-star-inserted">Morocco
                                </option>
                                <option value="NA" class="ng-star-inserted">Namibia
                                </option>
                                <option value="NP" class="ng-star-inserted">Nepal
                                </option>
                                <option value="NC" class="ng-star-inserted">New
                                    Caledonia</option>
                                <option value="NZ" class="ng-star-inserted">New Zealand
                                </option>
                                <option value="NI" class="ng-star-inserted">Nicaragua
                                </option>
                                <option value="MP" class="ng-star-inserted">Northern
                                    Mariana Islands
                                </option>
                                <option value="NO" class="ng-star-inserted">Norway
                                </option>
                                <option value="PK" class="ng-star-inserted">Pakistan
                                </option>
                                <option value="PA" class="ng-star-inserted">Panama
                                </option>
                                <option value="PG" class="ng-star-inserted">Papua New
                                    Guinea
                                </option>
                                <option value="PE" class="ng-star-inserted">Peru
                                </option>
                                <option value="PH" class="ng-star-inserted">Philippines
                                </option>
                                <option value="PL" class="ng-star-inserted">Poland
                                </option>
                                <option value="PT" class="ng-star-inserted">Portugal
                                </option>
                                <option value="PR" class="ng-star-inserted">Puerto Rico
                                </option>
                                <option value="MM" class="ng-star-inserted">Republic of
                                    the Union of
                                    Myanmar</option>
                                <option value="RO" class="ng-star-inserted">Romania
                                </option>
                                <option value="RU" class="ng-star-inserted">Russia
                                </option>
                                <option value="BL" class="ng-star-inserted">Saint
                                    Barthélemy
                                </option>
                                <option value="KN" class="ng-star-inserted">Saint Kitts
                                    and Nevis
                                </option>
                                <option value="MF" class="ng-star-inserted">Saint Martin
                                </option>
                                <option value="WS" class="ng-star-inserted">Samoa
                                </option>
                                <option value="SM" class="ng-star-inserted">San Marino
                                </option>
                                <option value="RS" class="ng-star-inserted">Serbia
                                </option>
                                <option value="SG" class="ng-star-inserted">Singapore
                                </option>
                                <option value="SX" class="ng-star-inserted">Sint Maarten
                                </option>
                                <option value="SI" class="ng-star-inserted">Slovenia
                                </option>
                                <option value="SB" class="ng-star-inserted">Solomon
                                    Islands</option>
                                <option value="SO" class="ng-star-inserted">Somalia
                                </option>
                                <option value="KR" class="ng-star-inserted">South Korea
                                </option>
                                <option value="ES" class="ng-star-inserted">Spain
                                </option>
                                <option value="SJ" class="ng-star-inserted">Svalbard and
                                    Jan Mayen
                                </option>
                                <option value="CH" class="ng-star-inserted">Switzerland
                                </option>
                                <option value="SY" class="ng-star-inserted">Syria
                                </option>
                                <option value="TW" class="ng-star-inserted">Taiwan
                                </option>
                                <option value="TJ" class="ng-star-inserted">Tajikistan
                                </option>
                                <option value="TZ" class="ng-star-inserted">Tanzania
                                </option>
                                <option value="TH" class="ng-star-inserted">Thailand
                                </option>
                                <option value="TL" class="ng-star-inserted">Timor-Leste
                                </option>
                                <option value="TO" class="ng-star-inserted">Tonga
                                </option>
                                <option value="TT" class="ng-star-inserted">Trinidad and
                                    Tobago
                                </option>
                                <option value="TR" class="ng-star-inserted">Turkey
                                </option>
                                <option value="TM" class="ng-star-inserted">Turkmenistan
                                </option>
                                <option value="TC" class="ng-star-inserted">Turks and
                                    Caicos Islands
                                </option>
                                <option value="UA" class="ng-star-inserted">Ukraine
                                </option>
                                <option value="US" class="ng-star-inserted">United
                                    States</option>
                                <option value="VI" class="ng-star-inserted">U.S. Virgin
                                    Islands
                                </option>
                                <option value="UZ" class="ng-star-inserted">Uzbekistan
                                </option>
                                <option value="VU" class="ng-star-inserted">Vanuatu
                                </option>
                                <option value="VE" class="ng-star-inserted">Venezuela
                                </option>
                                <option value="VN" class="ng-star-inserted">Vietnam
                                </option>
                                <option value="YE" class="ng-star-inserted">Yemen
                                </option>
                                <option value="ZM" class="ng-star-inserted">Zambia
                                </option>
                            </select>
                        </div>

                        <div class="col-sm-6">
                            <label for="">Region</label><br>
                            <input type="number" class="form-control" placeholder="To">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-6">
                            <labe for="">Municipality</label><br>
                                <input type="text" class="form-control"
                                    placeholder="Contains">
                        </div>
                    </div>
                    <br>
                    <hr>
                    <div class="row">
                        <input type="submit" value="Search" class="btn btn-primary"
                            style="padding-left:30px ;margin-left:13px ;">
                        <input type="submit" value=" New Search" class="btn btn-success"
                            style="margin-left:5px; ">
                    </div>
                </form>
            </div>



            <div id="Sitemetadata" class="tab-pane fade">
                <form action="">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="">Method to estimate Vs30/EC8</label>
                            <select class="form-control" id="ec8vs30_log_type"
                                name="ec8vs30_log_type">
                                <option value="" class="ng-star-inserted"> -- Any values
                                    --
                                </option>
                                <option value="0" class="ng-star-inserted">Geophysical
                                    survey
                                </option>
                                <option value="1" class="ng-star-inserted">Surface
                                    geology</option>
                                <option value="2" class="ng-star-inserted">Topography
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label for="">EC8 code</label>
                            <select class="form-control" id="ec8vs30_log_type"
                                name="ec8vs30_log_type">
                                <option value="" class="ng-star-inserted"> -- Any values
                                    --
                                </option>
                                <option value="0" class="ng-star-inserted">
                                    <pre>A - Rock or other rock-like 
                geological formation,
                 including at 
                 most 5m of weaker
                  material at the surface 
                  (Vs,30  &gt; 800 m/s)</pre>
                                </option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <label class="col-sm-12">Vs30 [m/s]</label>
                        <div class="col-sm-6">
                            <input class="form-control ng-untouched ng-pristine"
                                id="vs30msec_min" name="vs30msec_min" type="number"
                                placeholder="From" disabled="">
                        </div>
                        <div class="col-sm-6">
                            <input class="form-control ng-untouched ng-pristine"
                                id="vs30msec_max" name="vs30msec_max" type="number"
                                placeholder="To" disabled="">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <label class="col-sm-12">Topography</label>
                        <div class="col-sm-12">
                            <select class="form-control ng-pristine ng-valid ng-touched"
                                id="topography_code" name="topography_code">
                                <!---->
                                <option value="" class="ng-star-inserted"> -- Any values
                                    --
                                </option>
                                <option value="T1" class="ng-star-inserted">T1 - Flat
                                    surface,
                                    isolated slopes and cliffs with
                                    average slope angle i&lt;=15°</option>
                                <option value="T2" class="ng-star-inserted">T2 - Slopes
                                    with average
                                    slope angle i&gt;15°
                                </option>
                                <option value="T3" class="ng-star-inserted">T3 - Ridges
                                    with crest
                                    width significantly less
                                    than
                                    the base width and average slope angle
                                    15°&lt;=i&lt;=30°
                                </option>
                                <option value="T4" class="ng-star-inserted">T4 - Ridges
                                    with crest
                                    width significantly less
                                    than
                                    the base width and average slope angle i&gt;30°
                                </option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <label class="col-sm-12">Morphology</label>
                        <div class="col-sm-12">
                            <select class="form-control ng-pristine ng-valid ng-touched"
                                id="morph_code" name="morph_code">
                                <option value="" class="ng-star-inserted"> -- Any values
                                    --
                                </option>
                                <option value="AF" class="ng-star-inserted">Alluvial fan
                                </option>
                                <option value="ES" class="ng-star-inserted">Edge of
                                    scarp</option>
                                <option value="P" class="ng-star-inserted">Plain
                                </option>
                                <option value="R" class="ng-star-inserted">Ridge
                                </option>
                                <option value="SA" class="ng-star-inserted">Saddle
                                </option>
                                <option value="SL" class="ng-star-inserted">Slope
                                </option>
                                <option value="VC" class="ng-star-inserted">Valley
                                    centre</option>
                                <option value="VE" class="ng-star-inserted">Valley Edge
                                </option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <label class="col-sm-12">Reference site</label>
                        <div class="col-sm-6">
                            <select class="form-control ng-pristine ng-valid ng-touched"
                                id="reference_site_code" name="reference_site_code">
                                <option value="" class="ng-star-inserted"> -- Any values
                                    --
                                </option>
                                <option value="0" class="ng-star-inserted">NO</option>
                                <option value="1" class="ng-star-inserted">SI</option>
                                <option value="2" class="ng-star-inserted">Not analized
                                </option>
                            </select>
                        </div>
                    </div>

                    <hr>
                    <div class="row">

                        <input type="submit" value="Search" class="btn btn-primary"
                            style="padding-left:30px ;margin-left:13px ;">
                        <input type="submit" value=" New Search" class="btn btn-success"
                            style="margin-left:5px; ">
                    </div>
                </form>
            </div>
        </div>
           </div>
           <div class="p-2">
            <div class="mapouter">
              <div class="gmap_canvas" style=""><iframe
                      style="border-radius:15px;" width="600px" height="549px"
                      id="gmap_canvas"
                      src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&t=&z=13&ie=UTF8&iwloc=&output=embed"
                      frameborder="0" scrolling="no" marginheight="0"
                      marginwidth="0"></iframe>
                  <a href="https://123movies-to.org"></a><br>
                  <style>
                      .mapouter {
                          position: relative;
                          text-align: right;
                          height: 600px;
                          width: 580px;
                          border-radius: 15px;
                      }
                  </style>
                  <style>
                      .gmap_canvas {
                          overflow: hidden;
                          background: none !important;
                          height: 600px;
                          width: 580px;
                          border: radius 15px;
                      }
                  </style>
              </div>
          </div>

           </div>
         </div>
         <div class="flex-row"></div>

                 <div style="margin-top:20px ;">
                                     <button  style="margin-bottom:5px ;"
                                        class="btn btn-primary float-right" type="button">Export in google earth
                                        format
                                    </button>
                  <table class="table" style="table-layout:fixed; margin-top:-40px ;">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">SectionCode</th>
                            <th scope="col">Name</th>
                            <th scope="col">Country</th>
                            <th scope="col">Municipality</th>
                            <th scope="col">Latitude</th>
                            <th scope="col">Longitude</th>
                            <th scope="col">Vs30/EC8e</th>
                            <th scope="col">Vs30[m/s]</th>
                            <th scope="col">EC8 code</th>
                            <th scope="col">Topogr</th>
                            <th scope="col">Morpho</th>
                            <th scope="col">Waveform</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>TK</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>mdo</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>mdo</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>mdo</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>mdo</td>
                        </tr>
                        <tr>
                            <td>TK</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>mdo</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>mdo</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>mdo</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>mdo</td>
                        </tr>
                        <tr>
                            <td>TK</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>mdo</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>mdo</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>mdo</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>mdo</td>
                        </tr>
                    </tbody>
                </table>
                 </div>
      </div>
   </div>
</div>